<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div class="register">
      <form id="registerForm">
        <label for="name">Nombre</label>
        <input type="text" id="name" required />

        <label for="email">Email</label>
        <input type="text" id="email" required />

        <label for="password">Contraseña</label>
        <input type="password" id="password" required />

        <div>
          <button id="btn_register">Register</button>
        </div>
        <div>
          <p>Ya tienes una cuenta?</p>
          <a href="/inicioApp">Inicio sesion</a>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var userId = new URLSearchParams(window.location.search).get("userId");
      //Cuando le damos click al boton con id btn_login nos llevará a la url /login
      document.addEventListener("DOMContentLoaded", function () {
        var registerForm = document.getElementById("registerForm");
        var loginbtn = document.getElementById("btn_register");

        loginbtn.addEventListener("click", async function () {
          var name = document.getElementById("name").value;
          var email = document.getElementById("email").value;
          var password = document.getElementById("password").value;

          var formData = {
            name: name,
            email: email,
            password: password,
          };

          axios
            .post("/register/" + userId, formData)
            .then(async (response) => {
              console.log("respuesta: " + response);

              //window.location.href = "/token?userId=" + userId;
              //window.location.href = "/redirectToken";
              window.location.href = "/redirectToken";
            })
            .catch((error) => {
              console.log("Error: " + error);
            });
        });
      });
    </script>
  </body>
</html>
